/* CSS for styling the tweet text input area */

/* set new tweet box, make sure it is placed low enough to not be blocked by header */
.new-tweet {
  position: absolute;
  top: 320px;
  left: 5%;
  width: 100%;
  padding: 20px;
}

/* format the new tweet input box */
#tweet-text {
  width: 120px;
  height: 120px;
  font-size: .9em;
  font-family: sans-serif;
  width: 90%;

  border: none;
  border-bottom: 5px solid #ccc;
  background-color: #f4f1ec;
  text-align: left;
  caret-color: transparent;
  
}


/* Style the tweet button */
.new-tweet button {
  background-color: blue;

  color: white;
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}



/* format the tweet counter to place on right, size and font */
.new-tweet .counter {
  font-family: 'Bungee', sans-serif;
  text-align: right;
  margin-top: 5px;
  margin-right: 4em;

  float: right;
  color: black;
  /* Default text color */
}

/* Define the negative class for changing color to red */
.new-tweet .negative {
  color: red;
}


/* format error message to show up if data entry invalid */
.error-message {
  font-family: sans-serif;
  border: 3px solid red;
  font-size: 34px;

  color: red;
  text-align: center;

  font-weight: bold;
  margin-top: 10px;
  width: 90%;

  display: none;
}