
/* Tweet Feed CSS */


.tweet-article p {
  font-size: 18px; 
  color: #333;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
  border-bottom: 1px solid blue;
}


.tweet-header {
  display: flex;
  align-items: center;
}


.tweet-footer {
  display: flex;
  justify-content: space-between;
}


.tweets-article {
  border: 3px solid #ccc;
  padding: 2%; /* Use percentage for padding to make it relative to the container's width */
  margin-bottom: 2%; /* Use percentage for margin to make it relative to the container's width */
  background-color: #f4f1ec;
  width: 100%; /* Use 100% to make it relative to the container's width */
}
.tweets-article h2 {
  color: #271bca;

  font-size: 24px; 
}

.tweets-article h3 {
  color: #333;
margin-left: auto;
  font-size: 18px; 
}

.tweet-text {
  border-bottom: 4px solid grey;
}

#tweets {
  width: 80%; /* Adjust this as needed, but keep it in relative units like percentage */
  font-size: 2vw; /* Use viewport width (vw) for font size to make it relative to the screen width */
  font-family: sans-serif;
  border: none;
  border-bottom: 0.5vw solid #ccc; /* Use viewport width (vw) for border to make it relative to the screen width */
  background-color: #f4f1ec;
  text-align: left;
  caret-color: transparent;
}

.tweets-article:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.icon.fa-retweet:hover {
  color: #d8fb5b; /* New color on hover */
}

.fa-flag:hover {
  color: #d8fb5b;
}

.fa-heart:hover {
  color: #d8fb5b;
}

.user-avatar {
  max-width: 40px; 
  margin-right: 10px; 
  vertical-align: middle;
}