
/* Tweet Feed CSS */


.tweet-article p {
  font-size: 18px; 
  color: #333;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
  border-bottom: 1px solid blue;
}

.tweet-header {
  display: flex;
  align-items: center;
}


.tweet-footer {
  display: flex;
  justify-content: space-between;
}


.tweets-article {
  border: 3px solid #ccc; 
  padding: 10px; 
  margin-bottom: 20px; 
  background-color: #f4f1ec; 
  width: 100%;
  transition: box-shadow 0.3s;
}

.tweets-article h2 {
  color: #271bca;

  font-size: 24px; 
}

.tweets-article h3 {
  color: #333;
margin-left: auto;
  font-size: 18px; 
}

.tweet-text {
  border-bottom: 4px solid grey;
}

#tweets {
  width: 250px;
  height: 120px;
  font-size: 28px;
  font-family: sans-serif;
  width: 100%;

  border: none;
  border-bottom: 5px solid #ccc;
  background-color: #f4f1ec;
  text-align: left;
  caret-color: transparent;
}


.tweets-article:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.icon.fa-retweet:hover {
  color: #d8fb5b; /* New color on hover */
}

.fa-flag:hover {
  color: #d8fb5b;
}

.fa-heart:hover {
  color: #d8fb5b;
}

.user-avatar {
  max-width: 40px; 
  margin-right: 10px; 
  vertical-align: middle;
}